@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: Inter;
}

.drop-shadow{
  box-shadow: 0px 0px 24px 0px #08173529;
}

.container{
  border: 1px solid #E9EAEB;
  box-shadow: 0px 1px 2px 0px var(--ColorsEffectsShadowsshadow-xs);
}

.content{ 
  border-bottom: 1px solid #D5D7DA;
}

.content-border{
  border: 2px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 1px 2px 0px #0A0D120D;
  box-shadow: 0px -2px 0px 0px #0A0D120D inset;
  box-shadow: 0px 0px 0px 1px #0A0D122E inset;
}

.btn-shadow{
  border-bottom: 1px solid #D5D7DA;
  box-shadow: 0px 1px 2px 0px var(--ColorsEffectsShadowsshadow-xs);
  box-shadow: 0px -2px 0px 0px var(--ColorsEffectsShadowsshadow-skeumorphic-inner) inset;
  box-shadow: 0px 0px 0px 1px var(--ColorsEffectsShadowsshadow-skeumorphic-inner-border) inset;
}

.btn-shadow-new{
  border: 1px solid #D5D7DA;
  box-shadow: 0px 1px 2px 0px var(--ColorsEffectsShadowsshadow-xs);
  box-shadow: 0px -2px 0px 0px var(--ColorsEffectsShadowsshadow-skeumorphic-inner) inset;
  box-shadow: 0px 0px 0px 1px var(--ColorsEffectsShadowsshadow-skeumorphic-inner-border) inset;
}